.layout {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content 1fr;
    grid-template-areas:
        'sidebar header'
        'sidebar content';
}

#aside-floating-menu {
    pointer-events: none;
}

#aside-floating-menu * {
    pointer-events: auto;
}